# Ignora arquivos e diretórios desnecessários no build do Docker

# Git
.git
.gitignore

# Logs
log/*
!log/.keep

# Arquivos temporários
tmp/*
!tmp/.keep

# Dependências locais
node_modules
vendor/bundle

# Arquivos de configuração local
.env

# Documentação e arquivos de desenvolvimento
.vscode
.idea
.all-contributorsrc
README.md
CONTRIBUTING.md

# Testes
spec/

# Docker
Dockerfile
.dockerignore
docker-compose.yml